h1 {
            position: absolute;
            left: 42%;
            top: 30px;
        }
        
        #input {
            position: absolute;
            left: 20%;
            top: 120px;
            width: 700px;
            height: 20px;
            align-self: center;
            border: 1px rgb(0, 183, 255) solid;
            font-family: monospace;
        }
        
        #enter {
            position: absolute;
            left: 72.4%;
            top: 120px;
            border-left: none;
            border-bottom: 1px rgb(0, 183, 255) solid;
            border-top: 1px rgb(0, 183, 255) solid;
            border-right: 1px rgb(0, 183, 255) solid;
            color: rgb(0, 183, 255);
            width: 70px;
            height: 24px;
            align-self: center;
        }
        
        #enter:hover {
            cursor: pointer;
        }
        
        #div {
            position: absolute;
            left: 17%;
            top: 180px;
            width: 770px;
            font-family: monospace;
            align-self: center;
            font-size: 18px;
        }
